<div class="main">
    <app-navbar></app-navbar>
    <div class="mainpage">
        <div class="left">
            <div class="title">
                <h5> {{ currentWork!.title | translate }}
                </h5>
            </div>
            <div class="description">
                <p>{{ currentWork!.longDescription | translate }}</p>
            </div>
            <div class="technology">
                <p>
                    {{ currentWork?.AllTechnology }}
                </p>
            </div>
            <div class="links">
                <div class="link">
                    <button (click)="navigate()" class="link-button">{{"Less_details" | translate}}</button>
                </div>
                <div class="github">
                    <a [href]="currentWork?.github" target="_blank">
                        <img src="assets/images/work/github.png" alt="" style="width: 32px; height: 32px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="video">
                <iframe [src]="safeVideoLink" allow="autoplay"></iframe>
            </div>
        </div>
    </div>
</div>