<div class="main">
    <h1>{{"about_me" | translate}}</h1>
    <div class="details" >
        <div class="item">
            <strong>{{"name" | translate}}:</strong>
            <h4 class="typing delay-1" #animEl>
                &nbsp; BEN KAABAR ACHRAF
            </h4>
        </div>
        <div class="item">
            <strong>{{"nationality" | translate}} :</strong>
            <h4 class="typing delay-2" #animEl>
                &nbsp; {{"tunisian" | translate}}
            </h4>
        </div>
        <div class="item">
            <strong>WhatsApp :</strong>
            <h4 class="typing delay-3" #animEl>
                &nbsp; +216 23 460 530
            </h4>
        </div>
        <div class="item">
            <strong>Gmail :</strong>
            <h4 class="typing delay-4" #animEl>
                &nbsp; achraf.kaabar&#64;gmail.com
            </h4>
        </div>
        <div class="item">
            <strong>{{"languages" | translate}}:</strong>
            <h4 class="typing delay-5" #animEl>
                &nbsp; {{"language" | translate}}
            </h4>
        </div>
    </div>
</div>