<div class="main">
    <app-navbar></app-navbar>
    <div class="resume">
        <div class="left">
            <h4>{{"why_hire_me" |translate}}</h4>
            <div class="buttons">
                <div class="item"><button (click)="selectElement('education')" [ngClass]="{'selected': selectelement === 'education'}" [routerLink]="['/resume/education']"><strong>{{"education" |translate}}</strong></button></div>
                <div class="item"><button (click)="selectElement('experience')" [ngClass]="{'selected': selectelement === 'experience'}" [routerLink]="['/resume/experience']"><strong>{{"experience" |translate}}</strong></button></div>
                <div class="item"><button (click)="selectElement('skills')" [ngClass]="{'selected': selectelement === 'skills'}" [routerLink]="['/resume/skills']"><strong>{{"skills" |translate}}</strong></button></div>
                <div class="item"><button (click)="selectElement('aboutMe')" [ngClass]="{'selected': selectelement === 'aboutMe'}" [routerLink]="['/resume/aboutMe']"><strong>{{"about_me" |translate}}</strong></button></div>
            </div>
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>